:root {
    --color-gray: #BCBCBC;
    --printer-padding-base: 10px;
}

.text {
    text-align: center;
}

.ttu {
    text-transform: uppercase;
}

.printer-ticket {
    display: table !important;
    width: 100%;
    max-width: 400px;
    font-weight: light;
    line-height: 1.3em;

    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
}

th:nth-child(2),
td:nth-child(2) {
    width: 50px;
}

th:nth-child(3),
td:nth-child(3) {
    width: 90px;
    text-align: right;
}

th {
    font-weight: inherit;
    padding: var(--printer-padding-base) 0;
    text-align: center;
    border-bottom: 1px dashed var(--color-gray);
}

tbody tr:last-child td {
        padding-bottom: var(--printer-padding-base);
    }


tfoot .sup td {
    padding: var(--printer-padding-base) 0;
    border-top: 1px dashed var(--color-gray);
}

tfoot .sup.p--0 td {
    padding-bottom: 0;
}


.title {
    font-size: 1.5em;
    padding: calc(var(--printer-padding-base) * 1.5) 0;
}

.top td {
        padding-top: var(--printer-padding-base);
    }


.top td:last-child{
    padding-bottom: var(--printer-padding-base);
}


.msg{
    border: 3px solid green;
    background-color: greenyellow;
    padding: 10px;
    color:green;
    text-align: center;
    font-size: 1.5em;
    margin:5px;
}

.msg.erro{
    border-color: red;
    color:red;
    background-color: pink;

}

.mesas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.mesas>div,.mesas>div>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

.mesas>div>*,.mesas>div>form>*{
    margin-bottom: 10px;
}


.mesas>div>h1, .mesas>div>h2>span{
    color:gainsboro
}

.mesas>div.active>h1{
    color:green;
}
.mesas>div.active>h2>span{
    color:red;
}